$_blue-dark: hsl(187, 38%, 34%);
$_blue-light: hsl(186, 94%, 42%);

$primary-color: $_blue-dark;
$primary-dark-color: $_blue-dark;

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$text-color: $_blue-dark;
$text-muted-color: $_blue-dark;
$text-inverted-color: $_blue-dark;

$background-dark-color: $_blue-light;
$background-darker-color: $_blue-light;
$background-darkest-color: $_blue-light;
$background-light-color: $_blue-light;
$background-lighter-color: $_blue-light;
$background-lightest-color: $_blue-light;
