.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6rem;

    background-color: colors.$primary-color;
    border-bottom: 3px solid colors.$primary-color;
}

.navigationContainer {
}

.mainContainer {
}
