* {
    box-sizing: border-box;
}

html,
body {
    // Box sizes
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    // Fonts
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
